body {
 
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 465px;
height: 900px;
left: 540px;
right: 2161px;
top: 630px;
background-image: url(./im/background-client.jpeg);
background-repeat: no-repeat;
background-size: cover;   
}

.go_cinema-header {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 14px 0px 0px 0px;

width: 990px;
height: 67px;
}

.logo-go-cinema {
    width: 212px;
height: 39px;
gap: 0px;
opacity: 0px;
margin-left: 15px;
}

.hall-client {
position: relative;
width: 990px;
height: 573pxpx;
gap: 0px;
opacity: 0px;


}

.hall_client_wrapper {
    /* Section */
width: 990px;
height: 573px;
background: rgba(241, 235, 230, 0.95);
border-radius: 2px;
}

.buving_info {
    width: auto;
    height: auto;
    padding: 15px 555.6px 15px 15px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;

}

.buying_info-description {
/* buying__info-description */
width: 419px;
height: 67px;
padding: 0px 14px 0px 0px;
gap: 0px;
opacity: 0px;

}
.name_film {
    width: 405px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    

}

.name_film_text {

width: 405px;
height: 18px;
max-height: 18.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;

}

.session_time-text {
    /* Начало сеанса:*/
    width: 137px;
height: 16px;
top: 25px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 14px;
font-weight: 300;
line-height: 16px;
text-align: left;
color: #000000;


}

.name_hall {

    width: 404pxpx;
    height: 18pxpx;
    top: 49px;
    padding: 0px 363.4px 0px 0px;
    gap: 0px;
    opacity: 0px;
    
}

.name_hall_text {

width: 41px;
height: 18px;
max-height: 18.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;

}

/* выбор места */

.choosing_place{
   
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 30px;
height: 376px;
 width: 930px;
height: 376px;
gap: 0px;
opacity: 0px;
background: #171D24;

}

.choosing_place_frame {
    width: 284px;
height: 266px;
padding: 30px 0px 0px 0px;
gap: 4px;
opacity: 0px;
}

.choosing_place_screen {

   width: 284px;
   height: 40px;
    background-image: url(./im/screen-client.png);
background-repeat: no-repeat;
background-size: contain;

}

.type_chairs_status {
/* buying-scheme__legend */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 30px 0.0169983px 0px 0px;
gap: 0px;

width: 930px;
height: 80px;

}

.type_chairs {
    /* col:margin */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 0px 332.413px;

width: 517px;
min-width: 184.1px;
height: 50px;

}

.col_type {
    /* col */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 14.1px 0px 0px;
gap: 10px;

width: 184px;
max-width: 250px;
height: 50px;
}

.place_free {
    /* buying-scheme__legend-price */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 24.1px 0px 0px;

width: 170px;
height: 20px;
}

.place_free_img {
    /* span.buying-scheme__chair */
box-sizing: border-box;
width: 20px;
height: 20px;
background: #FFFFFF;
border: 1px solid #525252;
border-radius: 4px;
}

.place_free_text {
    /* Свободно (250руб) */
width: 125px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.place_free_vip {
    /* buying-scheme__legend-price */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 170px;
height: 20px;
}

.place_free_vip_img {
    /* span.buying-scheme__chair */
box-sizing: border-box;
width: 20px;
height: 20px;
background: #F9953A;
border: 1px solid #525252;
border-radius: 4px;

}
.place_free_vip_text {
    /* Свободно VIP (350руб) */

width: 150px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;

}
.status_chairs {
    /* col:margin */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 332.413px 0px 0px;

width: 413px;
min-width: 81.06px;
height: 50px;

}
.col_status {
/* col */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 81px;
max-width: 250px;
height: 50px;

}

.place_occupied {
    /* buying-scheme__legend-price */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12.06px 0px 0px;

width: 81px;
height: 20px;

}

.place_occupied_img {
    /* span.buying-scheme__chair */
box-sizing: border-box;
width: 20px;
height: 20px;
border: 1px solid #525252;
border-radius: 4px;
}

.place_occupied_text {
    /* Занято */

width: 49px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.place_occupied_vip {
/* buying-scheme__legend-price */
position: relative;
width: 81px;
height: 20px;

}

.place_occupied_vip_img {
    /* span.buying-scheme__chair */
box-sizing: border-box;
position: absolute;
width: 24px;
height: 24px;
left: -2px;
top: calc(50% - 24px/2);
background: #25C4CE;
border: 1px solid #525252;
box-shadow: 0px 0px 4px #16A6AF;
border-radius: 4px;

}
.place_occupied_vip_text {
    /* Выбрано */
position: absolute;
width: 62px;
height: 16px;
left: 20px;
top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.order_button {

display: flex;
flex-direction: column;
align-items: center;
padding: 11.2px 56.5033px 11.9px 56.8867px;

position: absolute;
width: 232px;
height: 40px;
left: calc(50% - 232px/2);
top: 513px;
border: none;
background: #16A6AF;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
border-radius: 3px;

}

.order_text {

width: 119px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;

}